deploy
node_modules
bower_components

.sass-cache
.vscode
.idea
*.log

devel/.jekyll-metadata
devel/assets/generated
devel/assets/offline

devel/assets/_sass/utils

devel/_pages/**/*.css
devel/_pages/**/*.min.css
devel/_pages/**/*.min.css.gz
