<h2>Chip</h2>
<section class="chips">
	<div class="chips__wrapper">
		<div class="chips__container">
			<div class="chips__input-wrapper">
				<i class="fa fa-pencil chips__input-pencil"></i>
				<input type="text" class="chips__input">
			</div>
		</div>
	</div>
</section>
