<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ui elements editor</title>
	{{> head-assets }}
</head>

<body class="page">
<h1>Chip</h1>
<section class="chips">
	<div class="chips__wrapper">
		<div class="chips__container">
			<div class="chips__input-wrapper">
				<i class="fa fa-pencil chips__input-pencil"></i>
				<input type="text" class="chips__input">
			</div>
		</div>
	</div>
</section>
<script src="/assets/generated/scripts.js"></script>
</body>
</html>

