<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>letter editor</title>
	{{> head-assets }}
</head>

<body class="letters">
<h1>THIS IS AN INDEX PAGE</h1>
</ul>
<script src="./assets/generated/scripts.js"></script>
</body>
</html>

