<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Oznámení o zesplatnění dluhu</title>
	<!--<link rel="stylesheet" href="content/print2.css">-->
	<link rel="stylesheet" href="../assets/generated/main.css">
</head>
<body>

<div class="dopis">

	<div class="dopis__wrapper">

		<div class="dopis__adresa">
			<!--<img src="content/images/fc-cb.gif" alt="FairCredit, SE" />-->
			<img src="../assets/_data/images/fc-cb.gif" alt="FairCredit, SE" />
			<br />
			<strong>Fair Credit International, SE</strong><br />
			Kubánské náměstí 1391/11<br />
			100 00 Praha 10<br />
		</div>

		<div class="obsah">
			<h2><u>Oznámení o zesplatnění dluhu oddělením vymáhání pohledávek</u></h2>
			<p class="padding-bottom-30">Vážená paní,</p>
			<p>s obchodní společností Fair Credit International, SE, se sídlem Kubánské náměstí 1391/11, PSČ 100 00 Praha 10, IČO: 04424115, zapsanou v obchodním rejstříku vedeném Městským soudem v Praze, SP._zn. H 1642 (dále jen „Fair Credit“) jste prostřednictvím Obchodního zástupce uzavřela Smlouvu/y o půjčce č. viz níže, na základě které/kterých Vám byly poskytnuty finanční prostředky.</p>
			<table>
				<thead>
				<tr>
					<th>Číslo smlouvy</th>
					<th>Aktuální dluh</th>
					<th>Číslo smlouvy</th>
					<th>Aktuální dluh</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>{1}</td>
					<td>{2}</td>
					<td>{3}</td>
					<td>{4}</td>
				</tr>
				<tr>
					<td>{5}</td>
					<td>{6}</td>
					<td>{7}</td>
					<td>{8}</td>
				</tr>
				</tbody>
			</table>
			<p><strong>Vzhledem ke skutečnosti, že v rozporu se Smluvními podmínkami nehradíte řádně a včas, byl Váš dluh dle Smluvních podmínek zesplatněn a postoupen oddělení vymáhání pohledávek společnosti Fair Credit.</strong></p>
			<p class="zvyraznit">Vyzýváme Vás k neprodlenému zaplacení celkové dlužné částky {9} na číslo účtu: 000019-2843948309/0800 s variabilním symbolem: {10}</p>
			<p><u>Pokud Vám aktuální finanční situace neumožňuje výše uvedenou částku zaplatit najednou, kontaktujte níže uvedeného specialistu ohledně Vašich možností úhrady.</u></p>
			<p>Pokud nebudete na toto oznámení reagovat, je naší povinností upozornit Vás, že se můžete připravit o smírné vyřešení Vašeho dluhu. V takovém případě jsme oprávněni požadovat zaplacení celkové dlužné částky a zaplacení úroku z prodlení z neuhrazené splátky, se kterou je zákazník v prodlení. Dále jsme oprávněni vyžadovat zaplacení nákladů řízení spojených se soudním vymáháním pohledávky ve výši stanovené příslušnými právními předpisy.</p>
		</div>

		<div class="podpis">
			<p>
				S pozdravem
			</p>
			<p>
				{11}, Specialista vymáhání pohledávek<br>
				Email: pohledavky@faircredit.cz<br />
				Tel.: 234 129 510 (v pracovní dny od 9.00 do 17.00 hod.)
			</p>
		</div>

		<div class="datum">V Praze dne {12:d}</div>

	</div>

	<div class="slozenka">
		<span class="slozenka-row1">110</span>
		<span class="slozenka-row2">0000192843948309</span>
		<span class="slozenka-row3">0800&nbsp;&nbsp;{10}</span>
		<span class="slozenka-castka-slovy">{14}</span>
		<span class="slozenka-castka-slovy2">{15}</span>
		<span class="slozenka-castka-slovy-des">{16}</span>
		<span class="slozenka-cu2">0000192843948309/0800</span>
		<span class="slozenka-vs2">{10}</span>
		<span class="slozenka-adresa">
				{17} {18}<br />
				{19}<br />
				{21}<br />
				{20}
			</span>
		<span class="slozenka-adresa2">
				{17} {18}<br />
				{19}<br />
				{20} {21}<br />
			</span>
		<span class="slozenka-adresa-prijemce">
				Fair Credit International, SE<br />
				Kubánské náměstí 1391/11<br />
				100 00 Praha 10<br />
			</span>
		<span class="slozenka-adresa-prijemce2">
				Fair Credit International, SE<br />
				Kubánské náměstí 1391/11<br />
				100 00 Praha 10
			</span>
		<span class="slozenka-castka2">{22}</span>
		<span class="slozenka-castka2-des">{16}</span>
	</div>

</div>

</body>
</html>